
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
        <header style="text-align: center;">ข่าวประชาสัมพันธ์</header>
        <p style="align-content: center;">
            *** ข่าวจัดซื้อจัดจ้าง ***
            * ประกาศผลการจัดซื้อจัดจ้าง
            - ประกาศผลผู้ชนะการจัดซื้อจัดจ้างฯ ประจำไตรมาสที่ 3
            - ประกาศผลผู้ชนะการจัดซื้อจัดจ้างฯ ประจำไตรมาสที่ 4
            สำนักงานเกษตรอำเภอองครักษ์ จังหวัดนครนายก
            รับขึ้นทะเบียนเกษตรกรและปรับปรุงทะเบียนเกษตรกร ปี 2559 โดยดำเนินการดังนี้
            กลุ่มเป้าหมายที่ 1 เกษตรกรที่เคยขึ้นทะเบียนเกษตรกรไว้แล้วทำการปรับปรุงข้อมูลการทำการเกษตร
            กลุ่มเป้าหมายที่ 2 เกษตรกรที่ยังไม่ขึ้นทะเบียนเกษตรกรทำการขึ้นทะเบียนเพิ่มเติมพร้อมกระบวนการ
            ตรวจสอบพื้นที่
            โดยสามารถขึ้นทะเบียนเกษตรกรและปรับปรุงทะเบียนเกษตรกรได้ที่สำนักงานเกษตรอำเภอองครักษ์ ได้ทุกวันตามเวลาราชการ
            เตือน เกษตรกร "เผ้าระวัง"
            เพลี้ยกระโดดสีน้ำตาลทำลายนา
            ปัญหาการขาดแคลนที่ดินทำกินของเกษตรกร เป็นปัญหาสำคัญยิ่งในปัจจุบัน
            และการประกอบอาชีพทางการเกษตรโดยเฉพาะในเขตที่ใช้น้ำฝนทำนาเป็นหลัก เกษตรกรจะมีความเสี่ยงสูง
            เป็นเหตุให้ผลผลิตข้าวอยู่ในระดับต่ำ ไม่เพียงพอต่อการบริโภค ด้วยพระอัจฉริยะในการแก้ปัญหา จึงได้พระราชทาน
            "ทฤษฎีใหม่" ให้ดำเนินการในพื้นที่ทำกินที่มีขนาดเล็ก ประมาณ ๑๕ ไร่
            ด้วยวิธีการจัดการทรัพยากรระดับไร่นาอย่างเหมาะสม
            ด้วยการจัดสรรการใช้ประโยชน์ในที่ดินโดยให้มีการจัดสร้างแหล่งน้ำในที่ดินสำหรับการทำการเกษตรแบบผสมผสานอย่างได้ผล
            เพื่อให้เกษตรกรสามารถเลี้ยงตัวเองได้ ให้มีรายได้ใว้ใช้จ่ายและมีอาหารใว้บริโภคตลอดปี (กรมวิชาการ, ๒๕๓๙: ๗๗)
            ซึ่งได้ดำเนินการอย่างแพร่หลายในปัจจุบัน เพื่อการผลิตทางเกษตรกรรมที่ยั่งยืนสำหรับเกษตรกรชาวไทย
            พระบาทสมเด็จพระเจ้าอยู่หัวได้ทรงมีพระราชดำรัสว่า "…ถึงบอกว่าเศรษฐกิจพอเพียง และทฤษฎีใหม่
            สองอย่างนี้จะทำความเจริญแก่ประเทศได้ แต่ต้องมีความเพียร แล้วต้องอดทน ต้องไม่ใจร้อน…" (สำนักพระราชวัง, ๒๕๔๒:
            ๓๑)
            พระบาทสมเด็จพระเจ้าอยู่หัวได้ทรงทำการศึกษาและวิจัยเชิงปฏิบัติ เกี่ยวกับทฤษฎีใหม่มาเป็นเวลานานตั้งแต่ปี พ.ศ.
            ๒๕๓๒
            ในพื้นที่ส่วนพระองค์ขนาด ๑๖ ไร่ ๒ งาน ๒๓ ตารางวาใกล้วัดมงคล ตำบลห้วยบง อำเภอเมือง จังหวัดสระบุรี
            และทรงมอบให้มูลนิธิชัยพัฒนาที่ทรงจัดตั้งขึ้นมาเพื่อเสริมโครงการของรัฐ
            ทั้งนี้ก่อนที่จะทรงนำเอกสารออกเผยแพร่อย่างเป็นทางการในปี พ.ศ. ๒๕๓๗ นั้น ทรงให้จัดตั้ง "ศูนย์บริหารพัฒนา"
            ตามแนวพระราชดำริ อยู่ในความรับผิดชอบของมูลนิธิชัยพัฒนา
            เพื่อเป็นต้นแบบสาธิตการพัฒนาด้านการเกษตรโดยประสานความร่วมมือระหว่าง วัด ราษฎรและรัฐ
            ทำการเผยแพร่อาชีพการเกษตรและจริยธรรมแก่ประชาชนในชนบท
            โดยทรงหวังว่าหากประสบความสำเร็จก็จะใช้เป็นแนวทางสาธิตในท้องที่อื่นๆ ต่อไป
            ทั้งนี้ในส่วนของการพัฒนาด้านการเกษตรนั้น ก็คือแนวคิดและมรรควิธีที่รู้จักกันในนาม "เกษตรทฤษฎีใหม่" (อำพล,
            ๒๕๔๒:
            ๓-๔)

            พระราชดำริ "ทฤษฎีใหม่" เป็นแนวทางหรือหลักการในการจัดการทรัพยากรระดับไร่นาคือที่ดินและน้ำ
            เพื่อการเกษตรในที่ดินขนาดเล็กให้เกิดประโยชน์สูงสุด ในการดำเนินการทฤษฎีใหม่ ได้พระราชทานขั้นตอนดำเนินงาน
            ดังนี้
            ขั้นที่ ๑ ทฤษฎีใหม่ขั้นต้น สถานะพื้นฐานของเกษตรกร คือ มีพื้นที่น้อย ค่อนข้างยากจน
            อยู่ในเขตเกษตรน้ำฝนเป็นหลัก
            โดยในขั้นที่ ๑ นี้มีวัตถุประสงค์เพื่อสร้างเสถียรภาพของการผลิต เสถียรภาพด้านอาหารประจำวัน ความมั่นคงของรายได้
            ความมั่นคงของชีวิต และความมั่นคงของชุมชนชนบท เป็นเศรษฐกิจพึ่งตนเองมากขึ้น
            มีการจัดสรรพื้นที่ทำกินและที่อยู่อาศัย
            ให้แบ่งพื้นที่ ออกเป็น ๔ ส่วน ตามอัตราส่วน ๓๐:๓๐:๓๐:๑๐ ซึ่งหมายถึง พื้นที่ส่วนที่หนึ่งประมาณ ๓๐%
            ให้ขุดสระเก็บกักน้ำ เพื่อใช้เก็บกักน้ำฝนในฤดูฝนและ ใช้เสริมการปลูกพืชในฤดูแล้ง
            ตลอดจนการเลี้ยงสัตว์น้ำและพืชน้ำต่าง ๆ (สามารถเลี้ยงปลา ปลูกพืชน้ำ เช่น ผักบุ้ง ผักกะเฉด ฯ ได้ด้วย)
            พื้นที่ส่วนที่สองประมาณ ๓๐% ให้ปลูกข้าวในฤดูฝน เพื่อใช้เป็นอาหารประจำวันในครัวเรือนให้เพียงพอตลอดปี
            เพื่อตัดค่าใช้จ่ายและสามารถพึ่งตนเองได้ พื้นที่ส่วนที่สามประมาณ ๓๐% ให้ปลูกไม้ผล ไม้ยืนต้น พืชผัก พืชไร่
            พืชสมุนไพร ฯลฯ เพื่อใช้เป็นอาหารประจำวัน หากเหลือบริโภคก็นำไปจำหน่าย และพื้นที่ส่วนที่สี่ประมาณ ๑๐%
            ใช้เป็นที่อยู่อาศัย เลี้ยงสัตว์ และโรงเรือนอื่น ๆ (ถนน คันดิน กองฟาง ลานตาก กองปุ๋ยหมัก โรงเรือน โรงเพาะเห็ด
            คอกสัตว์ ไม้ดอกไม้ประดับ พืชผักสวนครัวหลังบ้าน เป็นต้น)
            ทฤษฎีใหม่ขั้นก้าวหน้า
            เมื่อเกษตรกรเข้าใจในหลักการและได้ลงมือปฏิบัติตามขั้นที่หนึ่งในที่ดินของตนเป็นระยะเวลาพอสมควรจนได้ผลแล้ว
            เกษตรกรก็จะพัฒนาตนเองจากขั้น "พออยู่พอกิน" ไปสู่ขั้น "พอมีอันจะกิน" เพื่อให้มีผลสมบูรณ์ยิ่งขึ้น
            จึงควรที่จะต้องดำเนินการตามขั้นที่สองและขั้นที่สามต่อไปตามลำดับ (มูลนิธิชัยพัฒนา, ๒๕๔๒)
        </p>
    </div>
