<div class="ui-g" style="place-content: center;">
    <div class="ui-g-12" class="formLogin">
        <h3 class="first">เข้าสู่ระบบ</h3>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-inputgroup" style="place-content: center;">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input type="text" pInputText placeholder="Username">
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-inputgroup" style="place-content: center;">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input type="password" pInputText placeholder="password">
                </div>
            </div>
            <div class="ui-g-12">
                <div>
                    <button>เข้าสู่ระบบ</button>
                    <a routerLink="/login/register-form">ลงทะเบียน</a>
                </div>
            </div>
        </div>
    </div>

</div>